<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350675315737-gk01h5c0e8i08us0luicj63f5h011nqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350675315737-gk01h5c0e8i08us0luicj63f5h011nqp</string>
	<key>API_KEY</key>
	<string>AIzaSyDbdd9gcNGaiJyEc3RE5KHLdCCSCR1azgY</string>
	<key>GCM_SENDER_ID</key>
	<string>350675315737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rondigital.ronorder</string>
	<key>PROJECT_ID</key>
	<string>ron-order</string>
	<key>STORAGE_BUCKET</key>
	<string>ron-order.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350675315737:ios:e5df75a2a400d9f815ce88</string>
</dict>
</plist>